mat-card{
    width: 800px;
    margin: 20px;
     .buttons {
         width: 100%;
         display: flex;
         justify-content: flex-end;

         button {
             background-color: #eb5d44;
             color: white;
             width: 250x;
             margin: 15px;
         }
     }
}

    