.content{
    width: 100%;
    display: flex;
    height: 100vh;
    .menu{
        height: 100vh;
        width: 250px;
        background-color:  #eb5d44;
      
        
        .buttons{
            display: flex;
            flex-direction: column;
            color: white;
            font-family: "Montserrat", sans-serif;
            button{
                color: white;
                font-family: "Montserrat", sans-serif;
            }
        }
    }

    .menuView{
        display: block;
    }
    
    .submenu {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        background-color: #ff9a88;
      
        button {
          font-size: 0.9em;
          padding-left: 24px;
        }
      }
}


@media screen and (max-width: 1000px) {

    .menu{
        display: none;
    }
}