.content {
    width: 100%;
    display: flex;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    overflow: hidden;

    .contenedor {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-y: auto;

        .welcome {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }


        .card {
            width: 600px;
            margin: 50px
        }

        .buttons {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            button {
                background-color: #eb5d44;
                color: white;
                width: 250x;
                margin: 15px;
            }
        }


    }
}