<mat-card class="cash-card" *ngIf="cashRegister">
  <mat-card-header>
    <mat-card-title>Caja del día</mat-card-title>
    <mat-card-subtitle>{{ formatDate(cashRegister.date) }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col">
        <p class="label">Usuario apertura</p>
        <p class="value">{{ cashRegister.openingUser?.name }} {{ cashRegister.openingUser?.lastName }}</p>
      </div>

      <div class="col">
        <p class="label">Monto apertura</p>
        <p class="value">${{ cashRegister.openingAmount | number:'1.0-0' }}</p>
      </div>

      <div class="col">
        <p class="label">Saldo actual</p>
        <p class="value">${{ cashRegister.currentAmount | number:'1.0-0' }}</p>
      </div>

      <div class="col">
        <p class="label">Estado</p>
        <p class="value">{{ cashRegister.isClosed ? 'Cerrada' : 'Abierta' }}</p>
      </div>
    </div>

    <div class="meta">
      <small>Creada: {{ formatDateTime(cashRegister.createdAt) }}</small>
      <small>Última actualización: {{ formatDateTime(cashRegister.updatedAt) }}</small>
    </div>
  </mat-card-content>

  <mat-card-actions>
     <div class="actions">
    <button mat-raised-button  (click)="openMovementDialog('ingreso')">
      <mat-icon>add</mat-icon> Ingreso
    </button>
    <button mat-raised-button  (click)="openMovementDialog('egreso')">
      <mat-icon>remove</mat-icon> Egreso
    </button>
        <button mat-raised-button  (click)="closeCashRegister()">
      <mat-icon>remove</mat-icon> Cerrar caja
    </button>
  </div>
  </mat-card-actions>
</mat-card>

<mat-card class="cash-card" *ngIf="!cashRegister">
  <mat-card-header>
    <mat-card-title>Caja del día</mat-card-title>
    <mat-card-subtitle>No hay una caja abierta para el dia de hoy, Inicie una gestion</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>

