<div class="contenedor">
    <div class="formulario">
        <div class="titulo">
            <img src="assets/logoBlanco.png" alt="">
            <!-- <h1>recetiva</h1> -->
        </div>
        <div class="inputs">
            <input type="text" [(ngModel)]="user.email" placeholder="  Usuario">
            <input type="password" [(ngModel)]="user.password" placeholder="  Contraseña">
            <p class="mensajeError">{{errorLogin}}</p>
            <button  (click)="login()">Iniciar Sesion</button>
        </div>
        
    </div>
</div>
