.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);    // Difuminado
  background: rgba(0, 0, 0, 0.3); // Oscurecido suave
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;                 // Se muestra sobre todo
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
