<app-header></app-header>
<app-toolbar></app-toolbar>
<div class="content">
    <app-menu-lateral [ngClass]=""></app-menu-lateral>
    <div class="contenedor">

        <!-- COMPONENTE 1: CALENDARIO -->
        <app-calendar-selector (fechaSeleccionada)="buscar($event)"> </app-calendar-selector>
        <!-- COMPONENTE 2: DETALLES -->
        <app-cash-details *ngIf="cashSelected" [cashSelected]="cashSelected"> </app-cash-details>

        <app-list-movements *ngIf="cashSelected" [movementsSelecteds]="movementsSelecteds"> </app-list-movements>
    </div>
</div>